#empty-cart{
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 30px;
    color: rgb(185, 174, 174);
}
#cart-items{
    grid-column: 1/2;
    grid-row: 2/4;
    margin-top: 80px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-auto-rows: 120px;
    padding: 10px;
    gap: 10px;
}
#cart-items img{
    width: 100%;
    height: 100%;
}
#cart-items p{
    font-size: 20px;
}
