*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    padding: 10px;
}
#header{
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, auto));
    background: linear-gradient(to right, #d1eca6 0%, #0A0C07 100%);
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 30px;
    right: 30px;
    margin: 0;
    z-index: 1000;
}
#navigation{
    grid-column: 1/2;
    grid-row: 1/2;
}
#navigation ul {
    text-align: center;
}
#navigation ul li{
    display: inline-block;
    padding-left: 50px;
}
#navigation ul li a:hover{
    border-bottom: 3px solid rgb(152, 201, 120);
    padding-bottom: 1px;
}
#navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}
#search-icon{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    height: 20px;
    justify-self: end;
    align-items: center;
}
#search-icon img{
    width: 100%;
    height: 100%;
}
#search-icon:hover{
    cursor: pointer;
}
#textbox{
    margin-right: 10px;
}
#page-heading{
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 80px;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 30px;
}
#cellphone1{
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cellphone1 img{
    width: 593px;
    height: 400px;
}
#cellphone-batch1{
    grid-column: 1/4;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 270px);
    margin-top: 30px;
    gap: 20px;
}
#batch1-img1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#batch1-img1 img{
    width: 100%;
    height: 100%;
}
#batch1-img2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#batch1-img2 img{
    width: 100%;
    height: 100%;
}
#batch1-img3{
    grid-column: 3/4;
    grid-row: 1/2;
}
#batch1-img3 img{
    width: 100%;
    height: 100%;
}
#batch1-img4{
    grid-column: 4/5;
    grid-row: 1/2;
}
#batch1-img4 img{
    width: 100%;
    height: 100%;
}
figure a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#cellphone-batch2{
    grid-column: 1/4;
    grid-row:5/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 250px);
    gap: 20px;
    margin-top: 50px;
}
#batch2-img1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#batch2-img1 img{
    width: 100%;
    height: 100%;
}
#batch2-img2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#batch2-img2 img{
    width: 100%;
    height: 100%;
}
#batch2-img3{
    grid-column: 3/4;
    grid-row: 1/2;
}
#batch2-img3 img{
    width: 100%;
    height: 100%;
}
#batch2-img4{
    grid-column: 4/5;
    grid-row: 1/2;
}
#batch2-img4 img{
    width: 100%;
    height: 100%;
}
#batch2-img5{
    grid-column: 5/6;
    grid-row: 1/2;
}
#batch2-img5 img{
    width: 100%;
    height: 100%;
}
a img:hover{
    transform: scale(0.9);
    box-shadow: 6px 6px 10px gray;
}
a img{
    transition: all 0.4s ease-in-out;
    box-shadow: 6px 6px 10px transparent;
}

@media(max-width: 605px){
    #header{
        padding: 10px;
        grid-template-columns: 1fr;
    }
    #navigation ul li { 
        padding-left: 20px; 
    }
    #page-heading{
        font-size: 18px;
    }
    
    #cellphone1 img{
        width: 473px;
        height: 280px;
    }
    #cellphone-batch1{
        grid-template-rows: repeat(1, 150px);
    }
    #cellphone-batch2{
        grid-template-rows: repeat(1, 150px);
    }
}
@media(max-width: 543px){
    #header{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    
    #page-heading{
        font-size: 15px;
    }
    #cellphone1 img{
        width: 370px;
        height: 260px;
    }
    figure a{
        font-size: 10px;
    }
}
@media(max-width: 420px){
    #header{
        padding: 10px;   
    }
    #page-heading{
        font-size: 12px;
    }
    #navigation ul li { 
        padding-left: 20px; 
    }
    #navigation ul li a{
        font-size: 13px;
    }
    #cellphone1 img{
        width: 350px;
        height: 260px;
    }

}
