*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    padding: 10px;
}
#header{
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, auto));
    background: linear-gradient(to right, #d1eca6 0%, #0A0C07 100%);
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 30px;
    right: 30px;
    margin: 0;
    z-index: 1000;
}
#navigation{
    grid-column: 1/2;
    grid-row: 1/2;
}
#navigation ul {
    text-align: center;
}
#navigation ul li{
    display: inline-block;
    padding-left: 50px;
}
#navigation ul li a:hover{
    border-bottom: 3px solid rgb(152, 201, 120);
    padding-bottom: 1px;
}
#navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}
#search-icon{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 20px;
    display: flex;
    justify-self: end;
    align-self: center;
}
#search-icon img{
    width: 100%;
    height: 100%;
}
#search-icon:hover{
    cursor: pointer;
}
#textbox{
    margin-right: 10px;
}
#page-heading{
    grid-template-columns: 1/4;
    grid-template-rows: 2/3;
    margin-top: 110px;
    margin-left: 50px;
    font-size: 24px;
    font-family: sans-serif;
}
#headphones-batch1{
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    gap: 30px;
    margin-top: 50px;
}
#batch1-img1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 30px;
}
#batch1-img1 img{
    width: 100%;
    height: 100%;
}
#batch1-img2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#batch1-img2 img{
    width: 100%;
    height: 100%;
}
#batch1-img3{
    grid-column: 3/4;
    grid-row: 1/2;
}
#batch1-img3 img{
    width: 100%;
    height: 100%;
}
#batch1-img4{
    grid-column: 4/5;
    grid-row: 1/2;
}
#batch1-img4 img{
    width: 100%;
    height: 100%;
}
#headset2{
    grid-row: 4/5;
    grid-column: 1/5;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 60px;
}
#headset2  img{
    width: 700px;
    height: 400px;
}
#headphones-batch2{
    grid-column: 1/5;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 250px);
     gap: 30px;
    margin-top: 50px;
}
#batch2-img1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 30px;
}
#batch2-img1 img{
    width: 100%;
    height: 100%;
}
#batch2-img2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#batch2-img2 img{
    width: 100%;
    height: 100%;
}
#batch2-img3{
    grid-column: 3/4;
    grid-row: 1/2;
}
#batch2-img3 img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a img:hover{
    transform: scale(0.9);
    box-shadow: 6px 6px 10px gray;
}
a img{
    transition: all 0.4s ease-in-out;
    box-shadow: 6px 6px 10px transparent;
}