*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    padding: 10px;
}
#header{
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, auto));
    background: linear-gradient(to right, #d1eca6 0%, #0A0C07 100%);
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 30px;
    right: 30px;
    margin: 0;
    z-index: 1000;
}
#navigation{
    grid-column: 1/2;
    grid-row: 1/2;
}
#navigation ul {
    text-align: center;
}
#navigation ul li{
    display: inline-block;
    padding-left: 50px;
}
#navigation ul li a:hover{
    border-bottom: 3px solid rgb(152, 201, 120);
    padding-bottom: 1px;
}
#navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}
#search-icon{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 20px;
    justify-self: end;
}
#search-icon img{
    width: 100%;
    height: 100%;
}
#search-icon:hover{
    cursor: pointer;
}
#textbox{
    margin-right: 10px;
}
#heading{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    font-size: 3.5vw;
    font-weight: lighter;
    margin-top: 60px;
}
#first-picture{
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 20px;
    margin-left: 20px;
}
#first-picture img{
    width: 100%;
    max-width: 70%;
    height: 500px;
    object-fit: cover;
}
#headphones-heading{
    grid-column: 1/4;
    grid-row: 4/5;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 2vw;
}
#headphones-heading a:hover{
    border-bottom: 2px solid rgb(152, 201, 120);
}
#headphones-heading a{
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
    padding: 2px;
}
#headphones{
    grid-column: 1/4;
    grid-row:5/6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 25vh);
    margin-left: 30px;
    margin-top: 15px
}
#one{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 20px;
}
#one img{
    width: 100%;
    height: 100%;
}
#two{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-right: 20px;
}
#two img{
    width: 100%;
    height: 100%;
}
#three{
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 20px;
}
#three img{
    width: 100%;
    height: 100%;
}
#four{
    grid-column: 4/5;
    grid-row: 1/2;
    padding-right: 20px;
}
#four img{
    width: 100%;
    height: 100%;
}
#cellphones-heading{
    grid-column: 1/4;
    grid-row: 6/7;
    margin-top: 40px;
    font-size: 2vw;
}
#cellphones-heading a:hover{
    border-bottom: 2px solid rgb(152, 201, 120);
}
#cellphones-heading a{
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}
#cellphones{
    grid-column: 1/4;
    grid-row: 7/8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 35vh);
    margin-top: 15px;
    background-color: rgb(144,146,76);
    opacity: 100%;
    padding: 20px;
}
#cellphone1{
    grid-column: 1/2;
    grid-column: 1/2;
    padding-right: 10px;
}
#cellphone1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#cellphone2{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-right: 10px;
}
#cellphone2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#cellphone3{
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 10px;
}
#cellphone3 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#cellphones a{
    transition: transform 0.3s ease-in-out;
}
#cellphones a:hover{
    transform: scale(0.9);
}
@media (max-width: 600px) 
    {
       
     #header { 
        grid-template-columns: 1fr; /* stack header content */
        padding: 10px;
    }
    #navigation ul li { 
        padding-left: 20px; 
    }
    #navigation ul li a{
        font-size: 13px;
    }
    #heading{
        margin-top: 50px;
    }
    #first-picture{
        margin-top: 10px;
    }
    #first-picture img{
        height: 400px;
    }

}

