*{
    margin: 0;
    padding: 0;
    font-family:monospace;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    padding: 10px;
}
#searched{
    grid-row: 2/4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(auto, 1fr);
    margin-top: 80px;
    margin-left: 30px;
    column-gap: 20px;
}
#searched img{
    width: 100%;
    height: 100%;
}
#selected-device{
    grid-column: 1/2;
    grid-row:2/3;
    margin-top: 10%;
    margin-left: 70px;
}
#selected-device img{
    width: 570px;
    height: 350px;
}
#device-details{
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 10%;
    font-size: 3vw;
}
#favourites-button{
    padding: 10px;
    border: none;
    background-color: rgb(171, 173, 147);
    border-radius: 10px;
}
#alternative-pictures{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 70px;
}
#alternative-pictures a img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
#alternative-pictures a img:hover{
    transform: scale(0.8);
}